# ACAI Solutions
# Copyright (C) 2025 ACAI GmbH
#
# This file is part of ACAI VECTO. Visit https://www.acai.gmbh or https://docs.acai.gmbh for more information.
# 
# Proprietary and Confidential - Licensed under ACAI Rahmen-Lizenzvertrag + Order Form (Subscription required)
# For full license text, see LICENSE file in repository root.
#
# For commercial licensing, contact: contact@acai.gmbh


# ---------------------------------------------------------------------------------------------------------------------
# ¦ REQUIREMENTS
# ---------------------------------------------------------------------------------------------------------------------

terraform {
  required_version = "${tf_version}"

  required_providers {
    aws = {
      source                = "hashicorp/aws"
      version               = "= 4.50"
      configuration_aliases = []
    }
  }
}


# ---------------------------------------------------------------------------------------------------------------------
# ¦ LOCALS
# ---------------------------------------------------------------------------------------------------------------------
locals {
  resource_tags = {
    "resourceOwner" = "ACAI Consulting"
  }

  default_tagging = merge(
    var.cicd_metadata,
    {
      "environment" : "Production",
      "application" : "AWS MA Core"
      }
  )
} 

# ---------------------------------------------------------------------------------------------------------------------
# ¦ PUT YOUR PIPELINE CONTENT HERE
# ---------------------------------------------------------------------------------------------------------------------
