# ---------------------------------------------------------------------------------------------------------------------
# ¦ REQUIREMENTS
# ---------------------------------------------------------------------------------------------------------------------

terraform {
  required_version = "${tf_version}"

  required_providers {
    aws = {
      source                = "hashicorp/aws"
      version               = "= 4.50"
      configuration_aliases = []
    }
  }
}


# ---------------------------------------------------------------------------------------------------------------------
# ¦ LOCALS
# ---------------------------------------------------------------------------------------------------------------------
locals {
  resource_tags = {
    "resourceOwner" = "ACAI Consulting"
  }

  default_tagging = merge(
    var.cicd_metadata,
    {
      "environment" : "Production",
      "application" : "AWS MA Core"
      }
  )
} 

# ---------------------------------------------------------------------------------------------------------------------
# ¦ PUT YOUR PIPELINE CONTENT HERE
# ---------------------------------------------------------------------------------------------------------------------
