# ACAI Solutions
# Copyright (C) 2025 ACAI GmbH
#
# This file is part of ACAI VECTO. Visit https://www.acai.gmbh or https://docs.acai.gmbh for more information.
# 
# Proprietary and Confidential - Licensed under ACAI Rahmen-Lizenzvertrag + Order Form (Subscription required)
# For full license text, see LICENSE file in repository root.
#
# For commercial licensing, contact: contact@acai.gmbh


parameters:
  - name: tf_version
    type: string
    default: ${tf_version}

variables:
%{ for vg in jsondecode(variable_groups) ~}
  - group: ${vg}
%{ endfor ~}

trigger:
  - ${release_branch}

stages:
  - template: azure-pipelines-templates/10_terraform_preparation.yaml
    parameters:
      tfVersion: $${{ parameters.tf_version }}

  - template: azure-pipelines-templates/20_terraform_approval_apply.yaml
    parameters:
      tfVersion: $${{ parameters.tf_version }}
      releaseBranch: ${release_branch}
